body{
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#535943, #373e1d) !important; /* Chrome 10-25, Safari 5.1-6 */ 
  background: radial-gradient(#535943, #373e1d) !important;
}

/* .no-scroll{ 
  height: 100vh;
   overflow-y: hidden;
} */

.no-scroll {
  overflow-y: hidden;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.palewood{

  background: #eacda3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.palewood2{

  background: #eacda3;  /* fallback for old browsers */
background: -webkit-radial-gradient(#eacda3, #d6ae7b);  /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient(#eacda3, #d6ae7b);
}


.navyleaf2{
  background: #76b852;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #373e1d, #535943); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #373e1d, #535943);
}

.navyleaf{
  background: #76b852;  /* fallback for old browsers */
background: -webkit-radial-gradient(#535943, #373e1d); /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient(#535943, #373e1d);
}

.mangopulp{
  background: #F09819;  /* fallback for old browsers */
background: -webkit-radial-gradient(#b08343,#976206);  /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient(#b08343,#976206);
}

.mangopulp2{
  background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #976206, #9a651a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #976206, #9a651a);
}


.description_btn{
  background: #b07429;
  border:none;
  width: 200px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin:10px 0;
}